################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/M426tasks/FileContentIndex
/.vs/M426tasks/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Aufgaben/05-refactoring/.vs
/.vs/VSWorkspaceState.json
/Aufgaben/07-design-pattern/.vs
/Aufgaben/07-design-pattern/Geometry/bin/Debug/net6.0
/Aufgaben/07-design-pattern/Geometry/obj/Debug/net6.0
/Aufgaben/07-design-pattern/Geometry/obj
/Aufgaben/07-design-pattern/LeagueTable/obj
/Aufgaben/07-design-pattern/ParkingLot/bin/Debug/net6.0
/Aufgaben/07-design-pattern/ParkingLot/obj
/Aufgaben/07-design-pattern/Payroll/bin/Debug/net6.0
/Aufgaben/07-design-pattern/Payroll/obj/Debug/net6.0
/Aufgaben/07-design-pattern/Payroll/obj
